
/*
    * @wildeast-name default
    * @wildeast-title Default
    * @wildeast-type dark
*/

* {
    font-family: inherit;
    scrollbar-color: inherit;
}

/* element styles */

html {
    scrollbar-color: #79797966 #1f1f1f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #ffffff;
}

header {
    background: #000000;
}

a, a:visited {
    text-decoration: none;
    color: #0078d4;
}

button, .cm-search .cm-button {
    padding: 3px 5px;
    background: #0078d4;
    color: #ffffff;
    border: 1px solid #ffffff12;
}

button:hover {
    background: #026ec1;
}

button.unavailable {
    background: #313131;
    color: #cccccc;
}

button.unavailable:hover {
    border: 1px solid #3c3c3c;
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid #3c3c3c;
}

th, td {
    padding: 2px 3px;
}

.x-button, .x-button:hover {
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 12 12'><line x1='1' y1='1' x2='11' y2='11' stroke='white' /><line x1='1' y1='11' x2='11' y2='1' stroke='white' /></svg>");
    border: none;
}

/* form element styles */

input {
    background: #313131;
    color: #cccccc;
    border: 1px solid #3c3c3c;
}

input:user-invalid {
    border: 1px solid #f44747;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: #cccccc;
    -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
}

td > input, td > input:user-invalid {
    background: transparent;
    border: none;
}

td:has(> input:user-invalid) {
    outline: 1px solid #f44747;
}

input:focus {
    outline: none;
    border: 1px solid #0078d4;
}

input[type=number] {
    appearance: textfield;
}

input[type=checkbox] {
    border: 1px solid #3c3c3c;
}

input[type=checkbox]:checked {
    background: #202020 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 16 16'><line x1='2' y1='9' x2='6' y2='13' stroke='white' /><line x1='6' y1='13' x2='14' y2='3' stroke='white' /></svg>");
    border: 1px solid #cccccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

[contenteditable=true]:focus {
    outline: none;
}

select {
    padding: 0 24px 0 5px;
    appearance: none;
    background-color: #313131;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 16 16'><line x1='1' y1='6' x2='6' y2='10' stroke='%23aeaeae' /><line x1='11' y1='6' x2='6' y2='10' stroke='%23aeaeae' /></svg>");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
    color: #cccccc;
    border: 1px solid #3c3c3c;
}

select:focus {
    outline: none;
    border: 1px solid #0078d4;
}

option {
    background-color: #1f1f1f;
}

/* UI styles */

header {
    background: #000000;
}

.create-button {
    border-radius: 20px;
    background: #d478d4;
}

.create-button:hover {
    background: #c16ec1;
}

.projects a, .projects a:visited {
    color: inherit;
}

.project {
    border-radius: 30px;
}

#local .project {
    background: #0060aa;
}

#global .project {
    background: #6000aa;
}

#create-form {
    background: #000000;
    border: 1px solid #3c3c3c;
    border-radius: 50px;
}

main iframe {
    background: white;
    color: black;
    border-top: 1px solid #3c3c3c;
}

body:has(#editor) {
    background: #1f1f1f;
}

main:has(#editor) {
    border-top: 1px solid #3c3c3c;
}

#resizer {
    background: #797979;
}

/* editor styles */

#editor .cm-editor {
    font-size: 14px;
    background: #1f1f1f;
    color: #cccccc;
}

#editor .cm-editor span {
    background: inherit;
}

#editor .cm-content {
    z-index: 2 !important;
}

#editor .cm-cursor {
    border-left-color: #c6c6c6;
}

#editor .cm-selectionBackground, ::selection {
    background: #5886ff77 !important;
}

#editor .cm-selectionLayer {
    z-index: 1 !important;
}

#editor .cm-selectionMatch {
    background: #3a3d41fe !important;
}

#editor .cm-activeLine {
    background: unset !important;
}

#editor .cm-gutters, #editor .cm-gutter {
    background: #1f1f1f;
    color: #6e7681;
}

#editor .cm-activeLineGutter {
    background: #1f1f1f;
    color: #cccccc;
}

#editor .cm-panels {
    border: 1px solid #2b2b2b;
}

#editor .cm-panels :has(> .cm-search) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-top: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
}

/*
    * @wildeast-token heading {"fontWeight": "bold"}
    * @wildeast-token strong {"fontWeight": "bold"}
    * @wildeast-token emphasis {"fontWeight": "italic"}
    * @wildeast-token strikethrough {"textDecoration": "line-through"}
    * @wildeast-token link {"color": "#6a9955", "textDecoration": "underline"}
    * @wildeast-token comment #69aa55
    * @wildeast-token invalid #f44747
    * @wildeast-token variableName #9cdcfe
    * @wildeast-token typeName #5c9cd6
    * @wildeast-token propertyName #9cdcfe
    * @wildeast-token className #4ec9b0
    * @wildeast-token constant(name) #4fc1ff
    * @wildeast-token function(name) #dcdcaa
    * @wildeast-token string #ce9178
    * @wildeast-token number #b5cea8
    * @wildeast-token bool #5c9cd6
    * @wildeast-token regexp #d16969
    * @wildeast-token escape #d7ba7d
    * @wildeast-token color #ce9178
    * @wildeast-token keyword #569cd6
    * @wildeast-token controlKeyword #c586c0
    * @wildeast-token moduleKeyword #c586c0
    * @wildeast-token self #569cd6
    * @wildeast-token null #569cd6
    * @wildeast-token atom #569cd6
    * @wildeast-token unit #569cd6
    * @wildeast-token operator #d4d4d4
    * @wildeast-token angleBracket #808080
    * @wildeast-token paren #569cd6
    * @wildeast-token brace #b267e6
    * @wildeast-token documentMeta #6a9955
    * @wildeast-token inserted #b5cea8
    * @wildeast-token deleted #ce9178
    * @wildeast-token changed #569cd6
    * @wildeast-bracket-colors #d7ba7d #b267e6 #5c9cd6
*/
